@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans",
serif; */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
}
.btn-container {
    text-align: center;
}
.btn {
    /* width: 182px;
    height: 52px; */
    color: rgb(255, 255, 255);
    padding: 16px 25px 16px 25px;
    /* font-family: Work Sans; */
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(82, 195, 3);
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.btn:active {
    background: rgb(66, 158, 0);
}
#champion {
    position: unset;
    width: 1536px;
    height: 710px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgb(9, 9, 9) 2.884%, rgba(16, 16, 16, 0) 101.034%), url("../assets/hero-bg.png");
}
#champion .champion-content {
    width: 985px;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#champion .champion-content .subtitle {
    opacity: 0.8px;
    color: rgb(255, 255, 255);
    /* font-family: Work Sans; */
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12px;
}
#champion .champion-content .title {
    color: rgb(255, 255, 255);
    /* font-family: Work Sans; */
    font-size: 51px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 18px;
}
#champion .champion-content .description {
    color: rgb(255, 255, 255);
    /* font-family: Work Sans; */
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 25px;
}
#card-box {
    width: 1056px;
    margin: 140px auto;
}
#card-box .subtitle {
    opacity: 0.6;
    color: rgb(16, 16, 16);
    /* font-family: Work Sans; */
    font-size: 19px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .title {
    color: rgb(16, 16, 16);
    font-size: 38px;
    /* font-family: Work Sans; */
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    width: 495px;
    text-align: center;
    margin: auto;
    margin-bottom: 38px;
}
#card-box .card {
    width: 339px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}
#card-box .card .img-box {
    width: 339px;
}
#card-box .card .img-box img {
    width: 100%;
}
.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
#card-box .card .shop {
    text-align: center;
    border-radius: 8px;
    padding: 11px 25px 11px 25px;
    background: rgba(82, 195, 3, 0.15);
}
/* about-section-styles */
#about-section {
    width: 1536px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-section .img-box {
    width: 768px;
}
#about-section .img-box img {
    width: 100%;
}
#about-section .about-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 664px;
    gap: 32px;
    margin: 19px 50px;
}
#about-section .title {
    color: rgb(16, 16, 16);
    font-size: 38px;
    /* font-family: Work Sans; */
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin: auto;
}
#about-section .about-info .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
 }
 #about-section .about-info .subtitle2 {
 color: rgb(16, 16, 16);
 font-family: Work Sans;
 font-size: 25px;
 font-weight: 600;
 line-height: 30px;
 letter-spacing: 0%;
 text-align: center;
 opacity: 0.7;
 box-sizing: border-box;
 border-bottom: 1px solid rgba(16, 16, 16, 0.2);
 border-top: 1px solid rgba(16, 16, 16, 0.2);
 padding: 24px 8px 24px 8px;
 height: 78px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 }
 #social-section {
    justify-content: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
    background: linear-gradient(160deg, rgb(240, 234, 234) 2.884%, rgba(255, 252, 252,.7) 101.034%), url("../assets/social-bg.png");
    width: 1545px;
    height: 493px;
 }
 #social-section .social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 664px;
    height: 398px;
    gap: 20px;
 }
 #social-section .social-container .subtitle2 {
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    padding: 24px 8px 24px 8px;
    width: 1056px;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
 }
 #social-section .social-container .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
 }
 #social-section .social-container .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
 }